
.zagalovki {
    display: inline-block;
    width: 400px;
    font-family: Arial;
    color: rgba(50,50,50,0.85);
}

.explanation {
    font-family: Arial;
    color: rgba(50,50,50,0.85);
}
.explanation a{
    color: rgba(50,50,50,0.85);
}

.cv_title {
    margin-top: 115px;
    width: 100%;
    /*margin: 100px auto 0;*/
}

#name_surname {
    color: #0959ff;
    font-size: 40px;
    height: 60px;
}

#position_title {
    color: rgba(50,50,50,0.85);
    font-style: italic;
    font-size: 25px;
    margin-top: -25px
}

header {
    font-family: "Calibri";
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #084af6;
}
.header_1 a{
    text-decoration: none;
    color: white;
}

.header_words {
    color: white;
    margin-top: 25px;
}

.section1{
    margin-top: 15px;
}
.section1 ul {
    list-style: none;
}
.section1 a:hover{
    color: #0959ff;
}
.section1 a{
    text-decoration: none;
}
.section2{
    margin-top: 15px;
}
.section2 ul {
    list-style: none;
}
.section3{
    margin-top: 15px;
}
.section4{
    margin-top: 15px;
}
.section5{
    margin-top: 15px;
}
.section6{
    margin-top: 15px;
    color: white;
}
